section {
color: #fff;
text-align: center;
}

.container {
display: table;
width: 100%;
}

.left-half {
background-color: #ff9e2c;
position: absolute;
left: 0px;
width: 50%;
}

.right-half {
background-color: #b6701e;
position: absolute;
right: 0px;
width: 50%;
}

td {
    position: relative;
}

#delete-button {
    height: 30px;
    position: absolute;
    right: 0;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
}

.pagination ul li {
    display: inline;
    margin-right: 5px;
}

.pagination ul li a {
    text-decoration: none;
    padding: 5px 10px; 
    border: 1px solid #ccc; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0; 
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.dropdown-options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-options {display: block;}

#message {
    margin-top: 10px;
    font-weight: bold;
}

.success {
    color: green;
}

.error {
    color: red;
}

#appliedCodeContainer {
    display: none;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}
#appliedCodeContainer p {
    display: inline-block; /* Make the paragraph and button appear inline */
    margin: 0; /* Remove default margin to avoid extra space */
}
.rating {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
  }
  
  .like,
  .dislike {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
  }
  
  .dislike:hover,
  .like:hover {
    color: #2EBDD1;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
  
  .active {
    color: #2EBDD1;
  }
