{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>Products in Cart:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items%}
      <tr id="row-{{ item.pid }}">
        <th scope="row">{{item.name}}</th>
        <td>
          <button class="decrement-quantity" data-item-id="{{ item.pid }}">-</button>
          <span id="quantity-{{ item.pid }}">{{ item.quantity }}</span>
          <button class="increment-quantity" data-item-id="{{ item.pid }}">+</button>
          <input id="delete-button" type="image" src="https://www.freeiconspng.com/thumbs/trash-can-icon/trash-can-icon-3.png" onclick="deleteItem('{{ item.pid }}')"/>
        </td>
        <td id="unit-price-{{ item.pid }}">{{ item.price }}</td>
        <td id="total-price-{{ item.pid }}">{{item.quantity * item.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<div class="pagination">
  <ul>
      {% if page > 1 %}
          <li><a href="{{ url_for('cart.cart', page=page-1) }}">Previous</a></li>
      {% endif %}
      {% for p in range(1, total_pages + 1) %}
          <li {% if page == p %} class="active"{% endif %}><a href="{{ url_for('cart.cart', page=p) }}">{{ p }}</a></li>
      {% endfor %}
      {% if page < total_pages %}
          <li><a href="{{ url_for('cart.cart', page=page+1) }}">Next</a></li>
      {% endif %}
  </ul>
</div>

<div id="overallSumContainer">
  <h2>Overall Sum: $0.00</h2>
</div>

<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  Not enough inventory for the following items; please adjust quantities in cart.
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>

<a href="{{ url_for('cart.cart') }}" type="button" class="btn btn-dark">Submit Order</a>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
{% endif %}
<br><br>
<script src="static/js/cartAPI.js"></script>
{% endblock %}
