{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>Products in Cart:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items%}
      <tr id="row-{{ item.pid }}">
        <th scope="row">{{item.name}}</th>
        <td>
          <button class="decrement-quantity" data-item-id="{{ item.pid }}">-</button>
          <span id="quantity-{{ item.pid }}">{{ item.quantity }}</span>
          <button class="increment-quantity" data-item-id="{{ item.pid }}">+</button>
          <input id="delete-button" type="image" src="https://t4.ftcdn.net/jpg/03/01/07/99/360_F_301079914_TDcwbIag3uOp7dwNRWb0bqpfWeOzb6Xu.jpg" onclick="deleteItem('{{ item.pid }}')"/>
        </td>
        <td id="unit-price-{{ item.pid }}">{{ item.price }}</td>
        <td id="total-price-{{ item.pid }}">{{item.quantity * item.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>


<script>
  document.querySelectorAll(".increment-quantity").forEach(button => {
    button.addEventListener("click", () => {
      const itemId = button.getAttribute("data-item-id");
      const quantityElement = document.getElementById(`quantity-${itemId}`);
      const currentQuantity = parseInt(quantityElement.innerText);
      const newQuantity = currentQuantity + 1;
      quantityElement.innerText = newQuantity;
      const totalElement = document.getElementById(`total-price-${itemId}`);
      const itemPriceElement = document.getElementById(`unit-price-${itemId}`);
      const itemPrice = parseFloat(itemPriceElement.innerText);
      totalElement.innerText = newQuantity * itemPrice;
      calcTotalPrice();
      updateCartItemQuantity(itemId, newQuantity);
    });
  });
  document.querySelectorAll(".decrement-quantity").forEach(button => {
    button.addEventListener("click", () => {
      const itemId = button.getAttribute("data-item-id");
      const quantityElement = document.getElementById(`quantity-${itemId}`);
      const totalElement = document.getElementById(`total-price-${itemId}`);
      const itemPriceElement = document.getElementById(`unit-price-${itemId}`);
      const itemPrice = parseFloat(itemPriceElement.innerText);
      const currentQuantity = parseInt(quantityElement.innerText);
      if (currentQuantity > 1) {
        const newQuantity = currentQuantity - 1;
        quantityElement.innerText = newQuantity;
        totalElement.innerText = newQuantity * itemPrice;
        updateCartItemQuantity(itemId, newQuantity);
        calcTotalPrice();
      }
    });
  });

  function updateCartItemQuantity(itemId, newQuantity) {
    fetch(`/update-cart-item/${itemId}`, {
      method: "PATCH",
      body: JSON.stringify({ newQuantity }),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then(response => {
        if (response.ok) {
        } else {
        }
      })
      .catch(error => {
        console.error("Error:", error);
      });
  }
</script>

<div id="overallSumContainer">
  <h2>Overall Sum: $0.00</h2>
</div>

<a href="{{ url_for('cart.cart') }}" type="button" class="btn btn-dark">Submit Order</a>

<script>
  function deleteItem(itemId) {
    fetch(`/delete-cart-item/${itemId}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      },
    }).then(response => {
        if (response.ok) {
          const rowToDelete = document.getElementById(`row-${itemId}`);
          if (rowToDelete) {
                rowToDelete.remove();
                calcTotalPrice();
          } else {
                console.error("Row not found for item ID:", itemId);
          }
        } else {
        }
      })
      .catch(error => {
        console.error("Error:", error);
      });
  }
  function calcTotalPrice() {
    const totalPriceCells = document.querySelectorAll('td:nth-child(4)');
    let totalPriceSum = 0;
    totalPriceCells.forEach((cell) => {
      const totalPrice = parseFloat(cell.textContent);
      totalPriceSum += totalPrice;
    });
    const sumContainer = document.querySelector('#overallSumContainer h2');
    sumContainer.innerHTML = `Overall Sum: $${totalPriceSum.toFixed(2)}`;
  }
  calcTotalPrice();
</script>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
{% endif %}

{% endblock %}
