{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Products for sale:</h2>
<form action="{{ url_for('product.get_top_products') }}" method="post">
  <label for="k-input">Number of top products:</label>
  <input type="number" id="k-input" name="k-value" min="1" required>
  <input type="submit" value="View Top K Products">
</form>
<br>

<form action="{{ url_for('product.get_by_category') }}" method="post">
  <label for="category-input">Filter by category:</label>
  <input type="text" id="category-input" name="category" placeholder="Enter category" required>
  <input type="submit" value="Filter">
</form>
<br>


<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Review Summary</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><a type="button" href="{{ url_for('reviews.see_prod_reviews', pid = product.id) }}">Review Summary</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Time Purchased</th>
      <th scope="col">Leave Review Hello</th>
      
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
        <td><a type="button" href="{{ url_for('reviews.leave_review_by_uid_pid', uid = current_user.id, pid = purchase.pid) }}">Leave Review</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
