{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<h2>Inventory for Sale:</h2>
<table class='table table-hover table-bordered container'>
	<thead class="thead-dark">
		<tr>
			<th scope="col">Product Name</th>
			<th scope="col">Price</th>
			<th scope="col">Update Price</th>
			<th scope="col">Quantity</th>
			<th scope="col">Update Quantity</th>
			<th scope="col">Delete?</th>
		</tr>
	</thead>
	<tbody>
		{% for product in all_products%}
		<tr>
			<th>{{product.name}}</th>
			<th>{{product.price}}</th>
			
			<td>
				<form method="POST" action="{{url_for('inventory.seller', action='price', user_id = current_user.id, product_id = product.product_id)}}">
					<input  type="number" placeholder= "1.0" step="0.01" id="quant" name="quant" value = product.price
       min="0" max="2147399900">
				  <input class="btn" type="submit" name="update" value="Update">
				</form>
			  </td>

			<th>{{product.quantity}}</th>

			<td>
				<form method="POST" action="{{url_for('inventory.seller', action='update', user_id = current_user.id, product_id = product.product_id)}}">
					<input  type="number" id="quant" name="quant" value = product.quantity
       min="1" max="2147399900">
				  <input class="btn" type="submit" name="update" value="Update">
				</form>
			  </td>
			  <td>
				<form method="POST" action="{{url_for('inventory.seller', action='delete', user_id=current_user.id, product_id = product.product_id)}}">
				  <input class="btn" type="submit" name="delete" value="Delete">
				</form>
			  </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your seller info!</p>
{% endif %}

{% endblock %}