{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Your Orders</h2>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var chartData = [['Date', 'Total Price']];

      {% for order in orders %}
        chartData.push(['{{ order.time_stamp.strftime("%b %d, %Y") }}', {{ order.total_price | round(2) }}]);
      {% endfor %}

      var data = google.visualization.arrayToDataTable(chartData);

      var options = {
        title: 'Total Amount Spent Over Time',
        curveType: 'function',
        legend: { position: 'bottom' },
        vAxis: {
          viewWindow: {
            min: 0
          }
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
<br><br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Total Amount</th>
      <th scope="col">Number of Items</th>
      <th scope="col">Date Purchased</th>
      <th scope="col">Order Details</th>
    </tr>
  </thead>
  <tbody>
    {% for order in order_history%}
      <tr>
        <td>{{order.total_price | round(2)}}</td>
        <td>{{order.total_items}}</td>
        <td>{{ order.time_stamp.strftime("%b %d, %Y") }}</td>
        <td>         
          <a href="{{url_for('cart.order_detail', oid=order.id)}}" class="btn btn-primary">View Details</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  <ul>
      {% if page > 1 %}
      <li><a href="{{ url_for('purchases.get_orders_by_uid', uid = current_user.id, page=page-1) }}">Previous</a></li>
      {% endif %}
      {% for p in range(1, total_pages + 1) %}
          <li {% if page == p %} class="active"{% endif %}><a href="{{ url_for('purchases.get_orders_by_uid', uid = current_user.id, page = p) }}">{{ p }}</a></li>
      {% endfor %}
      {% if page < total_pages %}
          <li><a href="{{ url_for('purchases.get_orders_by_uid', uid = current_user.id, page=page+1) }}">Next</a></li>
      {% endif %}
  </ul>
</div>
{% endblock %}